/* asterisco é o seletor universal do css, quando utilizado sozinho o css incorpora
    as configurações aplicadas a todos os ids, classes e etc. Quando usado junto 
    a outra palavra, ele incorpora as configs somente na estrutura selecionada. */

/* removendo margin e padding padrão do navegador para posterior ajuste personalizado. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(255, 255, 255, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg)
    
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg)
}

body {
    /*
    background-image: url(./assets/assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */
    
    /* ordem para "shorthand" ou atalho = background: color (não foi usada) image repeat position/size */
    background: var(--bg-url)  no-repeat top center / cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    /* var é uma variável que chama do root acima 
    de acordo com o que foi definido. */
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

/* profile */
#profile {
    text-align: center;
    padding: 24px;
}

    /* div possui por padrão display "block", o que possibilita utilizar margin "auto". 
    tag "img" possui display inline, essas não permitem margin "auto".
    Para corrigir existem tricks (truques) de css para alinhar e etc.
    Neste caso, é utilizado text-align no id pai de img, 
    que é o profile e nele se usa text-align para centralizar a imagem. */

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* switch */
#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    left: 0;
    z-index: 1;
    transform: translateY(-12.5%); /* move objetos em posição absoluta */
    animation: slide-dark 0.3s; /* não adiciona forwards pois já está declarado left: 0 */
}

.light #switch button {
    /* animação feita com @keyframes slide-in,
    forwards define que a nimação manterá seu resultado final. */
    animation: slide-light 0.3s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color); /* adiciona hover ao botão */
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* links */
ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 16px 24px;
    
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
    background: var(--surface-color-hover);
    /* var é uma variável que chama do root acima 
    de acordo com o que foi definido. */
    border: 1.5px solid var(--text-color);
}

/* social links */
#social-links {
    display: flex;
    justify-content: center;
    gap: 2px;

    padding: 24px 0;

    /* tamanho conta apenas o ícone excluindo o padding */
    font-size: 24px;
    
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg)
    }
}

/* animation */
@keyframes slide-light {
    from {
        left: 0;
    }
    to {
        left: 50%
    }
}

@keyframes slide-dark {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}